<div class="container">
    <h1>Add site</h1>
    <form (ngSubmit)="onSubmit()" #siteForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required
                   [(ngModel)]="model.name" name="name">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" required
                   [(ngModel)]="model.author" name="author">
        </div>
        <div class="form-group">
            <label for="url">Url</label>
            <input type="text" class="form-control" id="url" required
                   [(ngModel)]="model.url" name="url">
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" required>
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="placement">Placement</label>
            <input type="number" class="form-control" id="placement" required
                   [(ngModel)]="model.placement" name="placement">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!siteForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newSite(); siteForm.reset()">New Site</button>
    </form>
</div>